name: Vehicle Insurance CI-CD

on:
  push:
    branches:
      - main
    paths:
      - "Project_01_Vehicle_Insurance_Data/**"

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build \
            -t learncode474/vehicle-insurance:latest \
            ./Project_01_Vehicle_Insurance_Data

      - name: Push Docker image
        run: |
          docker push learncode474/vehicle-insurance:latest
