# Data Processing & ML
pandas
numpy
scikit-learn
scipy
nltk
xgboost
matplotlib

# Orchestration & Tracking
dvc
dvc-s3
mlflow
dagshub

# Web App & Monitoring
Flask
waitress
prometheus-client

# Utilities
python-dotenv
huggingface-hub
PyYAML
click
